<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout :: head">
    <meta charset="UTF-8">
    <title>show blogs</title>
</head>
<body>
<h1 style="color: blue;font-size: 50px;font-family: 'UTM Flamenco';text-align: center">Blogs List</h1>
<h2>
    <a style="font-size: 20px" th:href="@{/category/create}">
        Add new Category
    </a>
</h2>
<h3 th:text="${success}" style="color: red"></h3>
<h3 th:text="${messa}" style="color: blue"></h3>
<h3 th:text="${masseNew}" style="color: black"></h3>
<p style="color: blue" th:text="${masse}"></p>
<table id="blogs">
    <thead>
    <tr>
        <th>Category Blog</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${categoryList}">
        <td th:text="${row.nameCategory}"></td>


        <td><a th:href="@{/category/edit/__${row.id}__}"><i class="fa-solid fa-pen-to-square"></i></a></td>
        <td><a th:href="@{/category/delete/__${row.id}__}"><i class="fa-solid fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="blog/layout :: footer"></footer>


</body>
</html>