<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Add User</h3>
<p>
    <a th:href="@{/user}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/user/save}" th:object="${userDto}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}"/>
            <p style="color: red" th:errors="*{firstName}"
               th:if="${#fields.hasErrors('firstName')}"></p>
        </div>
        <div>
            <label>Last Name</label>
            <input type="email" th:field="*{lastName}"/>
            <p style="color: red" th:errors="*{lastName}"
               th:if="${#fields.hasErrors('lastName')}"></p>
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}"/>
            <p style="color: red" th:errors="*{phoneNumber}"
               th:if="${#fields.hasErrors('phoneNumber')}"></p>
        </div>
        <div>
            <label>Age</label>
            <input type="text" th:field="*{age}"/>
            <p style="color: red" th:errors="*{age}"
               th:if="${#fields.hasErrors('age')}"></p>
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{email}"/>
            <p style="color: red" th:errors="*{email}"
               th:if="${#fields.hasErrors('email')}"></p>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>